@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap') repeat scroll 0 0 rgba(0, 0, 0, 0);

body {
    background: #fff;
}

.title {
    font-size: 5.6rem;
    font-family: 'Lobster', cursive;
}

.wrapper {
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
    color: #eee;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animation 100s linear infinite;
}

@keyframes animation {
    100% {
        background-position: 0px -3000px;
    }
}
