# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.ProgrammersBlog.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\emrec\OneDrive\Masaüstü\EmreCanAyar-Blog\ProgrammersBlog\.idea\.idea.ProgrammersBlog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
